# Node
node_modules/
npm-debug.log*

# Environment
.env

# Strapi
.tmp/
dist/

# Logs
logs
*.log

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db